a {
    color: black;
    text-decoration: none;

}       /* Styles the links when first loading the pg; gets 
            rid of the blue coloring and underline */

a:visited {
    color: rgb(154, 89, 170);

}

a:hover {
    color:cadetblue;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}